<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .css {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        hi {
            font-size: large;
        }

        body {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: floralwhite;
            background-color: rgb(117, 30, 198);
            text-align: center;
        }
    </style>
</head>
<body>
    <dif class="css">
        <form action="">
           <h1>BERITA BOLA</h1>
            <input type="email" placeholder="username"><br><p></p>
            <input type="password" placeholder="password"><br><p></p>
            <button>LOGIN</button>
            <dif class="links">
                <a href="a">forgot Password</a>
            </dif>
        </form>
    </dif>
</body>
</html>